.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}
.data_list {
  border: 2px solid black;
}
.insertContainer {
  border: 2px solid black;
  height: 650px;
}

#updateInput {
  width: 400px;
  height: 30px;
}
#loadmore {
  margin-top: 10px;
  margin-bottom: 10px;
}
